/*

ideally want to get whichever of these we choose into the public folder


CAMPFIRE friends
"https://images.pexels.com/photos/188940/pexels-photo-188940.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb"

SUNSET friends
"https://images.pexels.com/photos/207896/pexels-photo-207896.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb"

DIRT PATH friends
"https://www.pexels.com/photo/people-walking-on-dirt-path-in-forest-at-daytime-200453/"

MOUNTAIN friends
https://static.pexels.com/photos/130111/pexels-photo-130111.jpeg

PICNIC friends
https://static.pexels.com/photos/48660/pexels-photo-48660.jpeg
x
BEACH CAMPFIRE
https://static.pexels.com/photos/26135/pexels-photo-26135.jpg

JUMPING OFF A DOCK
https://static.pexels.com/photos/2029/landing-stage-sea-holiday-vacation.jpg
*/

/* Timeline Styling */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

/*@fontface*/

.rct-sidebar-row {
  background: white !important;
}

.rct-label-group {
  border-radius: 5px;
  background: #18bc9c !important;
  /*opacity: .9 !important;*/
  /*font-weight: bold !important;
  color: black !important;*/
}

.rct-label {
  font-weight: bold !important;
  color: black !important;
}

.rct-sidebar-header {
  border-radius: 5px;
  background: #18bc9c !important;
  opacity: .9 !important;
}

/* Pending: trying to round items in Timelines: But not working */
.rct-items .selected .can-move .rct-items-overflow {
  border-radius: 5px !important;
}

.react-calendar-timeline .rct-items .rct-item .rct-item-overflow  {
  border-radius: 5px !important;
  /*opacity: .9 !important;*/
}

/*.rct-items{
  border: 5px solid black;
}

.rct-canvas {
  background: #ecf0f1;
  opacity: .9 !important;
}

.setOpacity {
  background: #ecf0f1;
  opacity: .9 !important;
  font-weight: bold;
}*/

body {
  /*background: url("../mountain-friends.jpeg") no-repeat */
  background: url("https://static.pexels.com/photos/130111/pexels-photo-130111.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*added this to have fixed navbar - TitleBar and have all the outer containers move down.*/
.app-container {
  padding-top: 70px;
}

/*#tripTitle {
  display: 'flex';
  padding: '5px';
}*/

.titleBarTitle {
  border-radius: 5px !important;
  color: white;
  padding: 6px 10px;
  position: absolute;
  left: 75px;
  background-color: rgba(1, 1, 1, 0)
}

.titleBarTitle:hover {
  background-color: rgba(236,240,241, 0.2);
  cursor: text
}

li.trip-buddies {
  list-style-type: none;
}
.buddiesListItem {
  display: inline;
  padding-left: 1vw;
  padding-right: 9vw;
}

/*.edit-buddy-header {
  background-color: #18bc9c !important;
}

.buddyEditFields {
  margin-left: 10px;
}*/

/* .buddyEditLabels {
  width: 10px;
}

/*  the class .me is used to sytle your own info on the buddies page
    if you want to style everyone else, use class .them  */
.me {
  font-weight: bold;
}

.buddyHeader {
  text-decoration: underline;
}

.pencil {
    color: white;
  padding-left: 5px;
}

/* ------------- LOGIN STYLING ------------- */

.login-container {
   width: 500px;
   vertical-align: middle;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 5%;
   padding: 50px;
   background: rgba(236, 240, 241, 0.6)
}

.tripnameIcon {


}

img#icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

button.login {
  width: 100%;
  opacity: 1 !important;
}


.buttonIcon {
  float: left;
  width: 20%;

}
.buttonText {
  float: left;
  text-align: center;
  width: 80%;
}

div.or-divider {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    border-top: #dedede 1px solid;
}

div.or-divider span {
    position: relative;
    top: -10px;
    /*background:rgba(236, 240, 241, 0.8);*/
    padding: 10px;
}

/*div.sign-up a {
  color: #ecf0f1;
}*/

a {
  color: darkslategray;
  padding: 5px;
  font-weight: bold;
}

a.landing:visited {
  color: gray;
  text-decoration: none;
}
a.landing:hover {
  color: gray;
  text-decoration: none;
}
.landingPageText {
  margin-bottom: 0;
  /* padding: 10px; */
  padding-bottom: 20px;
}
.landingPageButtons {
  text-align: center;
  padding: 20px;
}
/* ------------- CHAT STYLING ------------- */
/*NB AT 990px the chat position must become unfixed,
LOOK INTO CONDITIONAL STYLING FOR MEDIA BREAK POINTS*/
.chat-outer-container-mobile-view {
  height: calc(50vh - 70px);
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5)
}
.chat-outer-container {
  border-radius: 5px;
    height: calc(100vh - 68px);
    position: fixed;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5)
}

.chat-container {
  /*border-right: 2px solid gray;
  border-bottom: 1px solid gray;*/
  height: calc(100vh - 150px);
  overflow-x: hidden;
  overflow-y: hidden;
  background: none;

}

#chat-title {
  text-align: center;
  padding: 10px;
  color: darkslategray;
  border-bottom: 1px solid gray;
  font-size: 16px;
  text-transform: uppercase;
}

#chat-log {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  height: 80vh;
  overflow-y: scroll;
  font-size: 15px;
  font-weight: normal;
  background: rgba(255, 255, 255, 0.5);
  /* border-right: thin solid lightgray; */
  }

#chatInput {
}

#messageInput {
width: 80%;
float: left;
}

#submitMessage {
width: 20%;
float: left;
}


section {
	/*max-width: 420px;*/
	margin: 0 auto;
}

p.chatName {
    font-weight: bold;
  }

section div {
  margin: 0 -4px 8px -4px;
  border-radius: 16px;
  padding: 8px 16px;
  max-width: 80%;
  clear: both;
  position: relative;
	}

.from-me {
	color:white;
	background:#0B93F6;
	float: right;
  margin-right: -78px;
}

.from-me::after {
		content:"";
		position:absolute;
    bottom:-2px;
		right:-18px;
		width:26px;
		height:20px;
		background:rgba(255, 255, 255, 0);
    border-left: 8px solid #0B93F6;
    border-bottom-left-radius: 16px 14px;
}

.from-them {
  float: left;
  /*background: #e5e5ea;*/
  background: white;
}

.from-them::after {
      content: "";
      position: absolute;
      bottom:-2px;
		  left:-18px;
		  width:26px;
		  height:20px;
      border-right: 8px solid white;
      border-bottom-right-radius: 16px 14px;
}

/* ------------- START BUDDYLIST STYLING ------------- */
.well {
  margin-bottom: 0;
  margin-top: 10px;
}

.well .well-lg {
  height: calc(70vh);
}

.thin-btn {
  padding: 5px 20px !important;
}
/* ------------- START DASHBOARD STYLING ------------- */
.background-white {
  height: calc(50vh - 70px);
  /*width: calc();*/
}

.ideas-main-container {
  height: calc(100vh - 70px);
}
.tabsAndViews {
  margin-left: 20px;
  margin-right: 20px;
}
/* ------------- BUDDY/TITLEBAR MODAL STYLING ------------- */

/*.buddiesList {
  margin-top: 20px;
}

div#add-buddy-modal {
  height: 500px !important ;
}

.modal-add-buddy {
  width: 100%;
  padding: 15px 5px 15px 5px;
}

.modal-input-height {
  height: 85px;
  padding: 15px 5px 15px 5px;
}

input.modal-trip-edit-input {
  width: 100%;
}

input.modal-add-buddy-input {
  width: 70%;
  float: left;
}

button.modal-add-buddy-button {
  width: 20%;
  float: left;

}*/

div#add-buddy-modal {
  height: 500px !important ;
}

.modal-add-buddy {
  width: 100%;
  padding: 15px 5px 15px 5px;
}

input.modal-add-buddy-input {
  width: 70%;
  float: left;
}

button.modal-add-buddy-button {
  width: 20%;
  float: left;

}

/* ------------- START IDEASBOX STYLING ------------- */
.top {
  overflow: scroll;
  height: 350px;
}
.IdeaBoxTab {
  background: white;
}

.bottom {
  display: absolute;
  height: auto;
  border-color: white;
  border-style: solid;
  background-color: aliceblue;
  box-shadow: 0 0 3px black;
  border-radius: 10px;
  position: absolute;
  font-size: 1.5vh;
  color: lightslategray;
  width: auto;
  }

.bottom-right {
  color: #8b0000;
  text-shadow:
      0.1vw 0.1vw 0 black,
     -0.1vw -0.1vw 0 black,
      0.1vw -0.1vw 0 black,
     -0.1vw  0.1vw 0 black,
      0.1vw  0.1vw 0 black,
      0vw  0vw 1vw black;
  left: 240px;
  right: 0;
  bottom: 0;
  margin: 0px 0px 0px 10px;
  padding: 1vh;
  border-right: none;
  border-bottom: none;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.container {
  width: auto;
}
.allIdeas {
  /*margin-top: 100px;*/
}
.addIdea {
  padding: 10px;
  margin-top: 20px;
  /*margin-left: 20px;*/
  margin-bottom: 10px;
  /*margin-right: 20px;*/
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid gray;
  width: auto;
}
.easy .idea-container {
  /*border:1px solid purple;*/
  /*flex: 1 1 20%; /* here */
}
.medium .idea-container {
  /*border:1px solid purple;*/
  /*flex: 1 1 16%; /* here */
}
.hard .idea-container {
  /*background: red;*/
  /*flex: 1 1 12.5%; /* here */
}



.idea-container {
  border: 1px solid gray !important;
  position: relative;
  display: inline-block;
  width: 22%;
  border-radius: 1px;
  background-color: #FFFFA5;
  /*opacity: 0.95;*/
  /*margin: 5px;*/
  height: 200px;
  overflow: scroll;
  transition-duration: 0.3s;
  transition-property: transform;
  transform-style: preserve-3d;
  /*margin-left: 8px;*/
  margin-right: 15px;
  margin-bottom: 10px;
}
.idea-container:hover {
  transform: scale(1.05);
}
.idea {
  padding: 5%;
  width: 90%;
  height: 90%;
  cursor: -webkit-grab;
  cursor: grab;
}
.idea .face {
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border-width: 0.1%;
  /*border-color: red;*/
  border-style: solid;
  /*background-color: white;*/
  box-shadow: 0 0 3px black;
  overflow: hidden;
  backface-visibility: hidden;
}
.idea .front {
  transform: rotateY(180deg);
}
.idea .back {

}

.likes {
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Courier New', sans-serif;
  bottom: 0;
  right: absolute;
  top: 0;
  display: inline !important;
  right: 0;
  padding: 5px;
  margin: 10px;
}
.delete {
  border: 1px solid black;
  border-radius: 5px;
  display: inline !important;
  top: 0;
  right: 0;
  padding: 5px;
  margin: 10px;
}

.idea .name .link .category .startdate{
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  text-align: center;
  /*opacity: 0.8;*/
  font-family: 'Comic Sans MS', cursive!important;
  text-shadow: 0 0 2px black;
}
.idea .link {
  word-wrap: break-word;
}
.idea.selected {
  /*transform: rotateY(180deg) scale(1.05) translateX(-10%); /* here */*/
}
.idea.selected .front {
  border-color: gold;
}
.idea.matched {
  transform: rotateY(180deg) translateX(-10%);
}

.horizontal-rule {
  color: black;
}

button.trip-buddies-likes-button {
  color: '#18bc9c';
  background-color: '#ffffff';
  border-radius: '5px';
  padding: '1px 6px'
}
button.trip-buddies-delete-button {
  color: '#18bc9c';
  background-color: '#ffffff';
  border-radius: '5px';
   padding: '1px 6px'
  }

.ideasListSelection {
  height: 6vh;
  width: 6vw;
  border-radius: 5px;
  /*opacity: 0.9;*/
  background-color: pink;
}
.ideasCardsSelection {
  height: 6vh;
  width: 6vw;
  border-radius: 5px;
  /*opacity: 0.9;*/
  background-color: pink;
}
/* ------------- END IDEASBOX STYLING ------------- */
