body {
    font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
    color: black;
    background-color: white; }

h1, h2, h3, h4 {
    font-weight: bold; }

button {
    background-color: lightcyan;
    border: 0.25px solid black;
    cursor: pointer;
    padding: 2px 5px;
    margin: 2px 5px;
    font-size: 0.5em;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase; }


/* -------- AddSubtract ButtonClass -------- */
.addSubtract {
  width: 20px;
  font-size: 0.75em !important;
}

/* --------- NavBar --------- */
.navbar {
  border: 1px solid black;
  border-radius: 5px;
  background-color: gray;
}
.navbar-title {
  display: inline;
  color: black;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: none;
  text-decoration: none;
  padding: 10px;
}
.tulsi-pic{
    left: 30px;
    float: left;
    position: absolute; }

.tulsi{
  height: 105px;
}
.navbar-user-menu {
    position: absolute;
    margin: 10px auto;
    right: 30px;
    text-align: right; }
    .navbar-user-menu a {
        display: block;
        color: black;
        text-align: center;
        padding: 5px;
        font-size: 0.6em;
        text-decoration: none; }

.navbar-bottom {
    text-transform: uppercase;
    padding: 0px 0px 10px 0px;
    margin: 0 auto;
    border-bottom: 0.5px solid darkgrey;
    text-align: center; }
    .navbar-bottom a {
        display: inline;
        color: black;
        font-size: 0.75em;
        text-align: center;
        padding: 0px 15px 10px 15px;
        text-decoration: none; }
    .navbar-bottom a:hover {
        color: #787887; }
    .navbar-bottom a:active {
        font-weight: bold; }

.icon {
    float: right;
    height: 20px;
    width: 20px; }

/* --------- WhoAmI --------- */
.whoami-user-name {
    color: black;
    padding: 5px;
    text-align: center;
    font-size: 0.6em;
    text-decoration: none; }

/* --------- Login --------- */
.login {
    display: block;
    font-size: 9px;
    padding: 1px 2px;
    margin: 0px 5px;
    border: 0.5px solid darkgrey;
    width: 80px; }


/* --------- Main View Frame --------- */
.main-container {
    margin: 30px 50px; }

.page-header {
    margin: 20px 0px 20px 30px; }

.heading {
    margin: 0px 0px 40px 30px;
    font-family: Avenir;
    font-size: 0.9em; }

/* --------- Catalog --------- */
.catalog-item {
    float: left;
    margin: 15px 30px; }
    .catalog-item a {
        text-decoration: none;
        color: black; }
    .catalog-item img {
        border: 0.5px solid darkgrey;
        height: 200px;
        width: 200px;
        margin: 10px 0px 15px 0px; }
    .catalog-item h4 {
        font-family: Lato;
        font-weight: normal;
        margin: 5px 10px; }
    .catalog-item p {
        font-size: 0.75em;
        font-weight: bold;
        margin: 5px 10px; }

/* --------- Cart --------- */
.price-table {
    display: block;
    float: right;
    margin: 30px 50px 30px auto; }
    .price-table td {
        width: 150px;
        font-size: 0.9em;
        font-weight: bold;
        text-align: right; }
    .price-table .label {
        font-size: 0.8em; }

.checkout-btn {
    display: block;
    float: right;
    margin: 30px 50px 0px 0px; }
    .checkout-btn input {
        background: cyan;
        border: 0.5px solid black;
        padding: 5px 20px;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none; }

/* --------- Cart Items --------- */
.item-container {
    border: 0.5px solid lightgrey;
    background-color: lightcyan;
    padding: 10px;
    margin: 0px 30px; }
.item-image {
    display: inline-block;
    height: 125px;
    width: 125px;
    border: 0.25px solid lightgray;
    margin-right: 20px; }
.item-info-table {
    display: inline-block;
    width: 70%;
    text-align: left;
    vertical-align: top; }
    .item-info-table td {
        font-size: 0.75em;
        padding: 5px; }
    .item-info-table a {
        font-size: 1.2em;
        font-weight: bold;
        color: black;
        text-decoration: none; }
.item-price {
    display: inline-block;
    width: 10%;
    margin: 10px 5px;
    vertical-align: top; }
    .item-price p {
        font-family: Avenir;
        font-size: 0.75em;
        font-weight: bold;
        text-align: right; }

/* --------- Shipping & Payment Form --------- */

.ship-pay-form {
    margin: 0px 30px; }
    .ship-pay-form fieldset {
        border: 0.5px solid grey;
        padding: 20px;
        margin-bottom: 30px; }
    .ship-pay-form legend {
        font-size: 1em;
        letter-spacing: 0.05em;
        font-weight: 600;
        text-transform: uppercase;
        padding: 10px; }
    .payment label,
    .shipping label {
        float: left;
        font-size: 0.9em; }
    .payment label {
      margin: 10px;
        width: 20%; }
    .shipping label {
      margin: 10px;
        width: 10%; }
    .payment input,
    .shipping input {
      margin: 10px;
        width: 25%; }

.submit-pay-btn {
    display: block;
    margin: 50px auto;
    background-color: lightcoral;
    border: 0.5px solid black;
    padding: 5px 20px;
    font-size: 1.2em;
    font-weight: 800;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.complete-order-btn {
    display: block;
    margin: 50px auto;
    background-color: lightcoral;
    border: 0.5px solid black;
    padding: 5px 20px;
    font-size: 1.2em;
    font-weight: 800;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    float: right; }

/* --------- Product View --------- */
.header-link {
    border-bottom: 0.5px solid grey;
    padding: 0px 20px 20px 0px; }
    .header-link a {
        color: black;
        text-decoration: none; }

.back-arrow {
    width: 10px; }

.product-detail {
    width: 100%;
    padding: 30px; }
    .product-detail img {
        border: 0.5px solid grey;
        margin-right: 30px;
        display: inline-block;
        width: 400px;
        height: 400px; }
    .product-detail .product-info {
        display: inline-block; }

.add-to-cart-btn {
    background-color: #FFF8BB;
    margin: 10px 30px;
    padding: 5px 20px;
    border: 0.5px solid black;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none; }

.catalog-link {
    padding: 0px 20px; }
    .catalog-link a {
    color: black;
    font-weight: bold; }

/* -------- Clearing our floats -------- */
.clear {
    clear: both; }

