
.titleBarTitle {
  background-color: #18bc9c !important;
  border-radius: 5px !important;
/*  line-height: 20px !important;*/
  color: white;
  padding: 6px 10px;
}

li.trip-buddies {
  list-style-type: none;
}
.buddiesListItem {
  display: inline;
  padding-left: 1vw;
  padding-right: 9vw;
}

/*  the class .me is used to sytle your own info on the buddies page
    if you want to style everyone else, use class .them  */
.me {
  font-weight: bold;
}

.buddyHeader {
  text-decoration: underline;
}

/* ------------- CHAT STYLING ------------- */

.chat-container {
border-right: 2px solid gray;
border-bottom: 1px solid gray;
}

#chat-title {
  text-align: center;
  padding: 10px;
  background-color:#18bc9c;
  color: white;
  border-bottom: 1px solid gray;
  font-size: 16px;
text-transform: uppercase;
}

#chat-log {
  padding: 20px;
  height: 80vh;
  overflow-y: scroll;
	font-size: 15px;
	font-weight: normal;
  /*border-right: thin solid lightgray;*/
}

#chatInput {
   /*display: flex;*/
   /*position:absolute;*/
   left:20px;
   bottom:0px;
   height:30px;
   width:100%;
}

#messageInput {
width: 80%;
float: left;
}

#submitMessage {
width: 20%;
float: left;
}


section {
	max-width: 100%;
	margin: 0px auto;
}

section div {
		max-width: 100%;
		word-wrap: break-word;
		margin-bottom: 20px;
    line-height: 24px;
	}

  p.chatName {
    font-weight: bold;
  }

.clear {clear: both}

.from-me {
	position:relative;
	padding:10px 20px;
	color:white;
	background:#0B93F6;
	border-radius:25px;
	float: right;
  width: 100%;

}

.from-me	:before {
		content:"";
		position:absolute;
		z-index:-1;
		bottom:-2px;
		right:-7px;
		height:20px;
		border-right:20px solid #0B93F6;
		border-bottom-left-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
}

.from-me	:after {
		content:"";
		position:absolute;
		z-index:1;
		bottom:-2px;
		right:-56px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-left-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
}

.from-them {
	position:relative;
	padding:10px 20px;
	background: whitesmoke;
	border-radius:25px;
	color: black;
  float: left;
  width: 100%;
}

.from-them :before {
		content:"";
		position:absolute;
		z-index:2;
		bottom:-2px;
		left:-7px;
		height:20px;
		border-left:20px solid #E5E5EA;
		border-bottom-right-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
}

.from-them :after {
		content:"";
		position:absolute;
		z-index:3;
		bottom:-2px;
		left:4px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-right-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
}
/* ------------- START IDEASBOX STYLING ------------- */
.top {
  top: 30vh;
  bottom: 0vh;
  left: 2vw;
  right: 10vw;
  position: absolute;
  padding: 4vh;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}
.bottom {
  top: 80vh;
  left: 2vw;
  right: 10vw;
  border-color: white;
  border-style: solid;
  background-color: white;
  box-shadow: 0 0 3px black;
  border-radius: 10px;
  position: absolute;
  font-size: 1.5vh;
  color: white;
  height: 10vh;
}
.bottom-right {
  color: #8b0000;
  text-shadow:
      0.1vw 0.1vw 0 black,
     -0.1vw -0.1vw 0 black,
      0.1vw -0.1vw 0 black,
     -0.1vw  0.1vw 0 black,
      0.1vw  0.1vw 0 black,
      0vw  0vw 1vw black;
  left: 240px;
  right: 0;
  bottom: 0;
  margin: 0px 0px 0px 10px;
  padding: 1vh;
  border-right: none;
  border-bottom: none;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.container {
  width: auto;
}
.easy .idea-container {
  flex: 1 1 25%; /* here */
}
.medium .idea-container {
  flex: 1 1 16.6%; /* here */
}
.hard .idea-container {
  flex: 1 1 12.5%; /* here */
}
.idea-container {
  position: relative;
  height: 33.3%; /* here */
  perspective: 800px;
  display: inline-block;
  flex: 1 1 12.5%;
}
.idea {
  padding: 5%; /* here */
  width: 90%; /* here */
  height: 90%; /* here */
  position: absolute;
  transition-duration: 0.3s;
  transition-property: transform;
  transform-style: preserve-3d;
  cursor: -webkit-grab;
  cursor: grab;
}
.idea:hover {
  transform: scale(1.05);
}
.idea .face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border-width: 0.1%;
  border-color: white;
  border-style: solid;
  background-color: white;
  box-shadow: 0 0 3px black;
  overflow: hidden;
  backface-visibility: hidden;
}
.idea .front {
  transform: rotateY(180deg);
}
.idea .back {

}
.idea .name {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  opacity: 0.8;
  font-family: 'Baloo', sans-serif;
  text-shadow: 0 0 2px black;
}
.idea.selected {
  /*transform: rotateY(180deg) scale(1.05) translateX(-10%); /* here */*/
}
.idea.selected .front {
  border-color: gold;
}
.idea.matched {
  transform: rotateY(180deg) translateX(-10%);
}

button.trip-buddies-likes-button {
  color: '#18bc9c';
  background-color: '#ffffff';
  border-radius: '5px';
  padding: '1px 6px'
}
button.trip-buddies-delete-button {
  color: '#18bc9c';
  background-color: '#ffffff';
  border-radius: '5px';
   padding: '1px 6px'
  }


/* ------------- END IDEASBOX STYLING ------------- */
